.intro-container {
    display: flex;
    margin-bottom:130px;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    /* background: linear-gradient(135deg, #111 60%, #1f1f1f 100%); */
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4); */
    gap: 40px;
    margin-top: 120px;
    
  }
  
  .intro-text {
    max-width: 60%;
  }
  
  .intro-text h1 {
    font-size: 3rem;
    color: #aaa;
    margin: 0;
  }
  
  .intro-text h2 {
    font-size: 4rem;
    color: #00ccff;
    margin: 10px 0;
  }
  
  .intro-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ddd;
  }
  
  .intro-image img {
    width: 280px;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    border: 2px solid #00ccff;
  }
  .svgs{
    mix-blend-mode:luminosity;
  }
  .svgs svg{
    margin-top: 10px;
    margin-right: 50px;
  }
  .svgs svg:hover{
    cursor: pointer;
  }

  .cv-button{
    height: 55px;
    width: 150px;
    border: 2px solid #00eaff;
    box-shadow:
    0 0 6px rgba(0, 234, 255, 0.6),
    0 0 12px rgba(0, 234, 255, 0.3);
    background-color: #10a8ce;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: 550;
    font-size:large ;
  }

  .cv-button:hover{
    cursor: pointer;  
  }

  /* Responsive (optional) */
  @media (max-width: 768px) {
    .intro-container {
      flex-direction: column;
      text-align: center;
      margin-top: 60px;
    }
  
    .intro-text {
      max-width: 100%;
    }
  
    .intro-image img {
      margin-top: 20px;
    }
  }
  